webservice-beans/src/main/resources/wsdl/external.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="ExampleExternalService" targetNamespace="http://ws.softceed.de/ExampleWebService"
  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns1="http://ws.softceed.de/ExampleWebService"
  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapjms="http://www.w3.org/2010/soapjms/" xmlns:tns="http://ws.softceed.de/ExampleWebService"
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:HDR1="tns2"
  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/">
  <wsdl:types>
    <xsd:schema targetNamespace="tns2" xmlns:tns2="tns2" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="CreateResponse" nillable="true" type="tns2:CreateResponse" />
      <xsd:complexType name="CreateResponse">
        <xsd:sequence>
          <xsd:element name="success" nillable="true" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="ErrorMessage" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema targetNamespace="http://ws.softceed.de/ExampleWebService" xmlns:tns="http://ws.softceed.de/ExampleWebService"
      xmlns:tns2="tns2" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="tns2" />
      <xsd:element name="create" type="tns:create" />
      <xsd:element name="createResponse" type="tns:createResponse" />
      <xsd:complexType name="create">
        <xsd:sequence>
          <xsd:element name="CreateRequest" nillable="true" type="tns:CreateRequest" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="CreateRequest">
        <xsd:sequence>
          <xsd:element name="SendTime" nillable="true" type="xsd:dateTime" />
          <xsd:element name="Id" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="Title" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="createResponse">
        <xsd:sequence>
          <xsd:element ref="tns2:CreateResponse" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ExampleWebService_PortType_create">
    <wsdl:part name="parameters" element="tns1:create">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ExampleWebService_PortType_createResponse">
    <wsdl:part name="parameters" element="tns1:createResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ExampleWebService_PortType">
    <wsdl:operation name="create">
      <wsdl:input message="tns1:ExampleWebService_PortType_create">
      </wsdl:input>
      <wsdl:output message="tns1:ExampleWebService_PortType_createResponse">
      </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Interface_ExampleWebService_Binder" type="tns1:ExampleWebService_PortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="create">
      <soap:operation soapAction="Interface_ExampleWebService_Binder_create" style="document" />
      <wsdl:input>
        <soap:body parts="parameters" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="parameters" use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ExampleWebService.Interface.ExampleWebService">
    <wsdl:port name="Interface_ExampleWebService_Port" binding="tns1:Interface_ExampleWebService_Binder">
      <soap:address
        location="http://ws.softceed.de/ExampleWebService:5511/ws/ExampleWebService.Interface.ExampleWebService/Interface_ExampleWebService_Port" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
